<div class="row">
	<div class="col-md-12 colorblock green">		
			<h3><a routerLink="/">Home</a> &rarr; Spot {{ selectedSpot?.title}}</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<h3>Info</h3>
		<hr/>

		<div class="row">
			<div class="col-sm-4 text-muted">Title</div>
			<div class="col-sm-8" [innerHTML]="selectedSpot?.title">&nbsp;</div>
		</div>

		<div class="row">
			<div class="col-sm-4 text-muted">Floor</div>
			<div class="col-sm-8" [innerHTML]="selectedSpot?.floor">&nbsp;</div>
		</div>

		<div class="row">
			<div class="col-sm-4 text-muted">Type</div>
			<div class="col-sm-8" [innerHTML] = "selectedSpot?.type">&nbsp;</div>
		</div>

		<div class="row">
			<div class="col-sm-4 text-muted">Description</div>
			<div class="col-sm-8" [innerHTML] = "selectedSpot?.content">&nbsp;</div>
		</div>

		<a routerLink="/spots/{{ selectedSpot.slug}}/edit" class="btn btn-primary">Edit</a>
		<a class="btn btn-primary" routerLink="/spots/{{ selectedSpot.slug }}/addevent">Add event</a>

	</div>
	<div class="col-md-3">
		<h3>Payments</h3>
		<hr/>
		<app-eventlist [spotevents] = "selectedSpot.payments"></app-eventlist>
	</div>
	<div class="col-md-3">
		<h3>Cleaning</h3>
		<hr/>
		<app-eventlist [spotevents] = "selectedSpot.cleanings"></app-eventlist>
	</div>
	<div class="col-md-3">
		<h3>Maintenance</h3>
		<hr/>
		<app-eventlist [spotevents] = "selectedSpot.maintenances"></app-eventlist>
	</div>
</div>

