<table class="table">
	<thead>
		<tr>
			<th>Number</th>
			<th>Type</th>
			<th>Cleaned</th>
			<th>Maintained</th>
			<th>Paid</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let spot of spots">
			<td><a routerLink="/spots/{{ spot._id }}">{{ spot.title }}</a></td>
			<td>{{ spot.type }}</td>
			<td>{{ spot.cleanings.length }}</td>
			<td>{{ spot.maintenances.length }}</td>
			<td>{{ spot.payments.length }}</td>
			<td>
				<a class="btn btn-primary btn-sm" routerLink="/spots/{{ spot._id }}/addevent">Add event</a>
				<a class="btn btn-primary btn-sm" routerLink="/spots/{{ spot._id }}/edit" title="Edit spot">Edit</a>
				<button class="btn btn-danger btn-sm" (click)="remove(spot)">&times;</button>
			</td>
		</tr>
	</tbody>
</table>