<div class="row">
	<div class="col-md-8" style="background: green; color: white; padding-bottom: 10px;">		
			<h3>Spots</h3>
	</div>
	<div class="col-md-4" style="background: navy; color: white; padding-bottom: 10px;">
		<h3>Last events</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-8" style="border: 1px #eee solid; border-left:none; padding-bottom: 10px;">
		<app-spotlist [spots] = "spots"></app-spotlist>
		<a class="btn btn-primary btn-sm" routerLink="/createspot"><i class="glyphicon-plus"></i> Add spot</a>
	</div>
	<div class="col-md-4">
		<app-eventlist [spotevents] = "spotEvents"></app-eventlist>
	</div>
</div>